@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap');

html {
    height: auto;
}

.fish-body {
    background: #f5f5f5;
    width: 320px;
}

p, h1, h2 {
    line-height: 1.4rem;
}

h5 {
    margin: 6px 0px;
    font-weight: bold;
}

*:focus, *:active {
    outline: none;
}

.baited:hover {
	/* background-color: red !important; */
    background: #D3E1E5;
    border-radius: 16px;
    /* margin: 8px; */
    padding: 16px;
    transition: all .2s ease-in-out;
}

img {
    max-width: 100%;
}

button {
    border-radius: 8px;
    min-height: 16px;
    width: 100%;
    border: none;
    color: black;
    box-sizing: border-box;
    margin-bottom: 16px;
}

.section {
    border-radius: 8px;
    border: 1px solid #eaeaea;
    margin: 0px 12px;
    margin-bottom: 8px;
    padding: 16px;
    background: white;
    box-shadow: 0px 8px 24px 0px rgba(0,0,0,0.05)
/*    border-bottom: 1px solid #e4e4e4;*/
}

.no-bg {
    background: transparent;
    box-shadow: none;
    border: none;
    padding: 8px;
}

.cb-reporting {
	background-color: #AED8E4;
}

.cb-report {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 300px;
	height: 180px;
    background-color: #FFFFFF;
    border-radius: 8px;
    padding: 16px 16px 31px;
    box-shadow: 0px 4px 24px 8px rgba(0,0,0,0.1);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 4px 8px 0px;
    z-index: 999;
    height: auto;
    box-sizing: border-box;
    border: 1px solid #eaeaea;
}

    .cb-report textarea {
        padding: 8px;
        margin: 8px 0px;
        width: 100%;
        box-sizing: border-box;
    }

    .cb-report h5 {
        display: block;
        font-size: 1.5em;
        margin-top: 8px;
        margin-bottom: 4px;
        font-weight: bold;
        font-family: "Roboto","Helvetica","Arial",sans-serif;
    }

    .cb-report p {
        font-size: 1rem;
        font-family: "Roboto","Helvetica","Arial",sans-serif;
    }

    .cb-report button {
        background: 0 0;
        border: none;
        border-radius: 2px;
        color: #fff;
        position: relative;
        height: 36px;
        margin: 0;
        min-width: 64px;
        padding: 0 16px;
        display: inline-block;
        font-family: "Roboto","Helvetica","Arial",sans-serif;
        font-size: 14px;
        font-weight: 500;
        letter-spacing: 0;
        overflow: hidden;
        will-change: box-shadow;
        transition: box-shadow .2s cubic-bezier(.4,0,1,1),background-color .2s cubic-bezier(.4,0,.2,1),color .2s cubic-bezier(.4,0,.2,1);
        outline: none;
        cursor: pointer;
        text-decoration: none;
        text-align: center;
        line-height: 36px;
        vertical-align: middle;
        background: #01AEE0;
    }

    .cb-report button:hover {
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 24px 8px;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 4px 8px 0px;
    }

    .cb-report img {
        margin-top: -40px;
        max-width: 72px;
    }

.cb-report__close {
	position: absolute;
	right: 16px;
	top: 16px;
	cursor: pointer;
}

textarea {
    margin: 16px 0px;
    width: 80%;
}

/* MDL custom */
.mdl-switch.is-checked .mdl-switch__track {
    background: rgba(1, 174, 224, .5);
}

.mdl-switch.is-checked .mdl-switch__thumb {
    background: #01AEE0;
}

.mdl-switch {
    width: 24px;
    right: 32px;
    position: absolute;
}

.mdl-switch__label {
    position: absolute;
    cursor: pointer;
    font-size: 16px;
    line-height: 24px;
    margin: 0;
    left: 28px;
    text-align: left;   
}